@use '../base/variables' as v;
@use '../base/mixins' as m;

.site-header {
    @include m.bgImage('../img/header.jpg', v.$secundarioOpacity);
    padding: 10rem 0;
    @include m.tablet { 
          padding: 15rem 0;
    }
    .logo {
        max-width: 20rem;
        margin: 0 auto;
        @include m.tablet { 
              margin: 0;
        }
    }
    .contenido__header {
        padding: 5rem 0 5rem 0;
        @include m.tablet { 
             padding: 10rem 0 10rem 0 
        }
        h1 {
            margin-bottom: 5rem;
            color: v.$blanco;
            @include m.tablet { 
                 max-width: 50% 
            }
            @include m.desktop { 
                  max-width: 40%;
            }
        }
    }
}